body{
	margin: 0;
	padding: 0;
	color: #484848;
	font-size: 10px;
	font-family: Circular, "Helertica Neue", Arial, sans-serif;
}

.container{
        width: 1000px;
        height: 70px;
        /*background-color: lightblue;*/
        margin: 30px auto;
}
